<%- include('header.ejs') %>
<div class="container">
    
    <% // Contenido para usuarios NO logados %>
    <% if (!session.userId) { %>
        <h1>Welcome to <%= appName %></h1>    
        <p>Para ver el contenido debe hacer <a href="/login">Login</a></p>
    <% } %>

    <% // Contenido para usuarios logados %>
    <% if (session.userId) { %>
        <h2>Products for sale</h2>
        <% products.forEach(product=> { %>
            <p>
                <strong>Name:</strong> <%= product.name %><br>
                <img src="<%= product.image %>" alt="<%= product.name %>"><br>
                <strong>Price:</strong> u$s <%= product.price %><br>
                <strong>Tags:</strong> 
                <%= product.tags.join(', ') %>
                <hr>
            </p>
            <% }) %>
    <% } %>



</div>
<%- include('footer.ejs') %>